* {
    /*font-family: 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 19px;
    font-variant: normal;*/
    padding: 0;
    margin: 0;
  }
  
  html {
    height: 100%;
  }
  
  .formulario {
    /*background: #424770;*/
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
  }
  
  form {
    width: 100%;
    margin: 20px auto;
    padding: 10px;  
    border: 1px solid #34D08C;
    border-radius: 10px;
    box-shadow: 10px 5px 20px  #8798AB;
  }
  
  label {
    height: 35px;
    position: relative;
    color: #8798AB;
    display: block;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 1.5em;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
  }
  
  label > span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*font-weight: 300;*/
    line-height: 32px;
    color: #8798AB;
    /*border-bottom: 1px solid #586A82;*/
    transition: border-bottom-color 200ms ease-in-out;
    cursor: text;
    pointer-events: none;
  }
  
  
  label > span span {
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: 0% 50%;
    transition: transform 200ms ease-in-out;
    cursor: text;
    padding-left: 5px;  |
  }
  
  label .field.is-focused + span span,
  label .field:not(.is-empty) + span span {
    transform: scale(0.68) translateY(-36px);
    cursor: default;
  }
  
  label .field.is-focused + span {
    border-bottom-color: #34D08C;
  }
  
  .field {
    background: transparent;
    font-weight: 300;
    border: 0;
    /*color: white;*/
    outline: none;
    cursor: text;
    display: block;
    width: 100%;
    line-height: 32px;
    padding-bottom: 3px;
    transition: opacity 200ms ease-in-out;
  }
  
  .field::-webkit-input-placeholder { color: #8898AA; }
  .field::-moz-placeholder { color: #8898AA; }
  
  /* IE doesn't show placeholders when empty+focused */
   .field:-ms-input-placeholder { color: #424770; }
  
  .field.is-empty:not(.is-focused) {
    opacity: 0;
  }
  
  button {
    float: left;
    display: block;
    background: #34D08C;
    color: white;
    border-radius: 2px;
    border: 0;
    margin-top: 20px;
    font-size: 19px;
    font-weight: 400;
    width: 100%;
    height: 47px;
    line-height: 45px;
    outline: none;
  }
  
  button:focus {
    background: #24B47E;
  }
  
  button:active {
    background: #159570;
  }
  
  .outcome {
    float: left;
    width: 100%;
    padding-top: 8px;
    min-height: 20px;
    text-align: center;
  }
  
  .success, .error {
    display: none;
    font-size: 15px;
  }
  
  .success.visible, .error.visible {
    display: inline;
  }
  
  .error {
    color: #E4584C;
  }
  
  .success {
    color: #34D08C;
  }
  
  .success .token {
    font-weight: 500;
    font-size: 15px;
  }

 /*modificando el Elemento Select*/
 .custom-select {
  position: relative;
  font-family: Arial;
}
.custom-select select {
  display: none; /*hide original SELECT element:*/
}
.select-selected {
  background-color: DodgerBlue;
}
/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}
/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}
/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}
/*style items (options):*/
.select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}
/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}
.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}