
/* cambios en Stripe*/
.StripeElement{
  padding: 10px;
  border-bottom: 1px solid #9e9e9e;
  box-shadow: 0;
  transition-property: border-bottom, box-shadow;
  transition-duration:  .35s, .35s;
  transition-timing-function: ease-in-out, ease-in-out;
}
.StripeElement--focus{
 
  border-bottom: 1px solid #26a69a;
  box-shadow: 0  1px 0 0  #26a69a;
}
#card-errors{
  color: #26a69a;
  font-family: Oswald;
  font-size: 1em;
}