/*footer{
    position: fixed;
    //bottom: 0;
}*/
.error{
    position: relative;
    min-height: 18px;
    display: block;
    font-size: 12px;
    color: #FF4081;
}
/*
 *Alexis Tobar
*/
@font-face{
	font-family: fIndie;
	src:url(../fonts/Indie_Flower/IndieFlower.ttf);
}
@font-face{
	font-family: fOswald;
	src:url(../fonts/Oswald/Oswald-Bold.ttf);
}
/*
  *para que funcione los en pantalla completa el sidenav
  *requiere estas reglas
  */
header, main{
      padding-left: 300px;
    }

    @media only screen and (max-width : 992px) {
      header, main, footer {
        padding-left: 0;
      }
    }
    /*finaliza los requerimientos*/
body{
	font-family: fIndie;

}
h1,h2,h3,h4,h5{
	font-family: fOswald;
}
.panel{
	 font-size: 2em;
	 text-align: justify;
}
div #banner{
    background: url(../img/desktop.jpg) top left no-repeat;
    background-size: 100%;
    border-radius: 1em;
}
/*
 *Para logo SVG
*/

.tarjeta-precios{
        width: auto;
        height: 80%;
        padding: 0.50em;   
        border-radius: 0.50em; 
        margin: 0 0 2em 0;
}
.tarjeta-precios .tarj-precio{
    margin-top: 0; 
}
.tarjeta-precios .pos-inl{
    display: inline;
}
.tarjeta-precios .sim-dolar{
    position: relative;
    top: -40px;
    margin-top: 0;
    margin-bottom: 0;
    font-family: Oswald;
    font-size: 2em; 
    font-weight: bold;
}
.tarjeta-precios .pad-boton{
    position: relative;
    bottom: -2.5em;
};

.tarjeta-precios p{
    font-size: 1em;
    margin-bottom: 0;
}
.sidenav .user-view .background img{
    width: 100%;
    
};
/*seccion de cursos destacados del Index*/
legend{
    border: 1px solid black;
}
.box-items{
    background: #000;
    height: 400px;
    border-radius: 10px;
    border: 1px solid whitesmoke;
    padding: 1em;
}
