/*footer{
    position: fixed;
    //bottom: 0;
}*/
.error{
    position: relative;
    min-height: 18px;
    display: block;
    font-size: 12px;
    color: #FF4081;
}
/*
 *Alexis Tobar
*/
@font-face{
	font-family: fIndie;
	src:url(../fonts/Indie_Flower/IndieFlower.ttf);
}
@font-face{
	font-family: fOswald;
	src:url(../fonts/Oswald/Oswald-Bold.ttf);
}
body{
	font-family: fIndie;

}
h1,h2,h3,h4,h5{
	font-family: fOswald;
}
.card{
	width: auto;
	height: 100px;
	background: white;
	padding: 0.5em;
}
.panel{
	 font-size: 2em;
	 text-align: justify;
}
div #banner{
    background: url(../img/desktop.jpg) top left no-repeat;
    background-size: 100%;
    border-radius: 1em;
}
/*
 *Para logo SVG
*/
.brand-logo{
  height: 100%;

    img {
      max-width: 200px;
      width: 100%;
      height: 100%;
      padding: 10px;
    }
}
.tarjeta-precios{
        width: auto;
        height: 21em;
        padding: 0.25em;   
        border-radius: 0.50em; 
}
.tarjeta-precios .tarj-precio{
    margin-top: 0; 
}
.tarjeta-precios .pos-inl{
    display: inline;
}
.tarjeta-precios .sim-dolar{
    position: relative;
    top: -40px;
    margin-top: 0;
    margin-bottom: 0;
    font-family: Oswald;
    font-size: 2em; 
    font-weight: bold;
}
.tarjeta-precios .pad-boton{
    position: relative;
    top:;
};
.pos-absoluta{
    position: relative;
    bottom: -10%;
}
